body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.75);
}

.ui {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-family: "Bebas Neue", cursive;
  height: 100%;

  .toggle-leaderboard {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
    padding: 8px;
  }

  .time {
    padding-top: 8px;
    position: relative;
    top: 10%;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
  }

  .restart {
    padding-top: 8px;
    position: relative;
    text-transform: uppercase;
    font-size: 64px;
    top: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
    cursor: pointer;
  }

  .keys-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 65%;
    .keys {
      display: grid;
      gap: 12px;
      grid-template-columns: repeat(3, 54px);
      grid-template-rows: repeat(3, 54px);

      .key {
        border: 2px white solid;
        background-color: rgba(255, 255, 255, 0.25);
      }

      .active {
        background-color: rgba(255, 255, 255, 0.55);
      }

      .up {
        grid-column: 2;
        grid-row: 1;
      }

      .left {
        grid-column: 1;
        grid-row: 2;
      }

      .right {
        grid-column: 3;
        grid-row: 2;
      }

      .down {
        grid-column: 2;
        grid-row: 2;
      }
      .space {
        grid-column: 1 / 4;
      }
    }
  }
}

.form-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  form {
    display: flex;
    flex-direction: column;
    gap: 12px;

    input {
      padding: 8px;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      font-size: 24px;
      text-align: center;
      outline: none;
    }
    button {
      padding: 8px;
      font-size: 24px;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      cursor: pointer;
    }
  }
}

.leaderboard {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  z-index: 100;
  padding: 8px;
  overflow-y: scroll;

  .leaderboard-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    .leaderboard-item {
      display: flex;
      justify-content: space-between;
      span {
        margin: 0 4px;
      }
    }
  }
}
